{% extends "magnovite/new/base.html" %}
{% load socialaccount %}


{% block "extra_meta" %}
<meta name="description" content="Christ University presents its annual techno-cultural fest Magnovite V6, on 2nd and 3rd and 4th of March 2017."" />
<meta name="keywords" content="Magnovite,Tech Fest" />
<meta name="author" content="CUFE" />

<meta property="og:title" content="Events | Magnovite V6" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://magnovite.net/static/img/logo_square_share.png" />
<meta property="og:url" content="https://magnovite.net/events/" />
<meta property="og:description" content="Christ University presents its annual techno-cultural fest Magnovite V6, on 2nd and 3rd and 4th of March 2017."" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Events | Magnovite V6" />
<meta name="twitter:description" content="Christ University presents its annual techno-cultural fest Magnovite V6, on 2nd and 3rd and 4th of March 2017."" />
<meta name="twitter:image" content="https://magnovite.net/static/img/logo_square_share.png" />
{% endblock "extra_meta" %}
{% block "css_extra" %}
<style type="text/css">
  .p-title
  {
    margin-top: 100px;
  }
  .img-p
  {
    text-align: center;
  }
  .img-s
  {
    text-align: center;
  }
  .img-p img
  {
    height: 80px;
  }
   .img-s img
  {
    height: 180px;
  }
   @media only screen and (max-width: 640px) {
     .img-p img
  {
    height: 60px;
  }
  .img-s img
  {
    height: 110px;
  }
        
        }
  .title-p
  {
    text-align: center;
    margin-bottom: 15px;
  }
  .title-p h2
  {
    font-size: 20px;
  }
  .our-p
  {
    margin-bottom: 50px;
  }
  .our-s
  {
    margin-bottom: 70px;
  }
  .sec-title
  {
    margin-bottom: 30px;
  }
  .our-p .col-lg-6
  {
    margin-bottom: 60px;
  }
  .our-p .col-lg-12
  {
    margin-bottom: 60px;
  }
  .our-s .col-lg-12
  {
    margin-bottom: 0px;
  }
  .our-p .col-lg-4
  {
    margin-bottom: 60px;
  }
  .devider::before,
  .devider::after
  {
    color: #0eb493;
  }
  .devider i
  {
    color: #0eb493;
  }
  #navigation
  {
    background-color: #0eb493;
  }
  .media-p
  {
    margin-top: 0px;
  }
</style>
{% endblock "css_extra" %}

{% block "content" %}
	

<div class="container">

 <div class="row p-title">

          <div class="sec-title text-center">
            <h2>Title Sponsor</h2>
            <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
          </div>
          </div>
          <div class="row our-s">
   <div class="col-lg-12 t-sponsor">
      <div class="img-s">
      <a href="https://www.southindianbank.com/">
        <img src="/static/img/partners/title-sponsor.png" /></a>
    </div>
    </div>
    </div>

        <div class="row p-title media-p">

          <div class="sec-title text-center">
            <h2>Media Partners</h2>
            <div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
          </div>
          </div>

  <div class="row our-p">
   <div class="col-lg-12">
      <div class="title-p"><h2>
          Official Radio Partner
      </h2>
      </div>
      <div class="img-p">
      <a href="http://www.theindigoxp.com/">
        <img src="/static/img/partners/Indigo.jpg" /></a>
    </div>
    </div>
    <div class="col-lg-6">
      <div class="title-p"><h2>
          Online Media Partner
      </h2>
      </div>
      <div class="img-p">
      <a href="https://www.yepdesk.com/">
        <img src="/static/img/partners/yepdesk.png" /></a>
    </div>
    </div>
        <div class="col-lg-6">
      <div class="title-p"><h2>
          Online Media Partner
      </h2>
      </div>
      <div class="img-p">
      <a href="http://festpav.com/">
        <img src="/static/img/partners/festPav.png" /></a>
    </div>
    </div>
    <div class="col-lg-4">
      <div class="title-p"><h2>
          Online Media Partner
      </h2>
      </div>
      <div class="img-p">
      <a href="http://www.knowafest.com/">
        <img src="/static/img/partners/Logo_300_100.png" /></a>
    </div>
    </div>
    <div class="col-lg-4">
      <div class="title-p"><h2>
          Online Media Partner
      </h2>
      </div>
      <div class="img-p">
      <a href="http://collegedesk.in/">
        <img src="/static/img/partners/CollegeDesk.jpg" /></a>
    </div>
    </div>
    <div class="col-lg-4">
      <div class="title-p"><h2>
          Online Promotions Partner
      </h2>
      </div>
      <div class="img-p">
      <a href="http://electronicsforu.com/">
        <img src="/static/img/partners/EFY.png" /></a>
    </div>
    </div>
    
        <div class="col-lg-4">
      <div class="title-p"><h2>
          Online Promotions Partner
      </h2>
      </div>
      <div class="img-p">
      <a href="https://allevents.in/">
        <img src="/static/img/partners/ae-logo.png" /></a>
    </div>
    </div>

    <div class="col-lg-4">
      <div class="title-p"><h2>
          Official Blog Partner
      </h2>
      </div>
      <div class="img-p">
      <a href="http://economydecoded.com/">
        <img src="/static/img/partners/ED1-min.jpg" /></a>
    </div>
    </div>
        
    <div class="col-lg-4">
      <div class="title-p"><h2>
          Online Advertising Partner
      </h2>
      </div>
      <div class="img-p">
      <a href="http://www.releasemyad.com/">
        <img src="/static/img/partners/ReleaseMyAd.png" /></a>
    </div>
    </div>
  </div>
</div>


{% endblock %}



 {% block "post_js" %}
  <script>
            var wow = new WOW ({
                boxClass:     'wow',      // animated element css class (default is wow)
                animateClass: 'animated', // animation css class (default is animated)
                offset:       120,          // distance to the element when triggering the animation (default is 0)
                mobile:       false,       // trigger animations on mobile devices (default is true)
                live:         true        // act on asynchronously loaded content (default is true)
              }
            );
            wow.init();
            
        </script>

        {% endblock %}