{% extends "magnovite/new/base.html" %}
{% load socialaccount %}

{% csrf_token %}
{% block "extra_meta" %}
<meta name="description" content="Christ University presents its annual techno-cultural fest Magnovite V6, on 2nd and 3rd and 4th of March 2017."" />
<meta name="keywords" content="Magnovite,Tech Fest" />
<meta name="author" content="CUFE" />

<meta property="og:title" content="Workshops | Magnovite V6" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://magnovite.net/static/img/logo_square_share.png" />
<meta property="og:url" content="http://magnovite.net/events/" />
<meta property="og:description" content="Christ University presents its annual techno-cultural fest Magnovite V6, on 2nd and 3rd and 4th of March 2017."" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Workshops | Magnovite V6" />
<meta name="twitter:description" content="Christ University presents its annual techno-cultural fest Magnovite V6, on 2nd and 3rd and 4th of March 2017."" />
<meta name="twitter:image" content="http://magnovite.net/static/img/logo_square_share.png" />
{% endblock "extra_meta" %}
        <!--
        Home Slider
        ==================================== -->
        {% block "content" %}

		<section id="slider" style="height:410px;">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

				<!-- Indicators bullet -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				</ol>
				<!-- End Indicators bullet -->

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">

					<!-- single slide -->
					<div class="item active" style="background-image: url(/static/new/img/banner.jpg);">
						<div class="carousel-caption" style="top:30%;">
							<h2 data-wow-duration="700ms" data-wow-delay="500ms" class="wow bounceInDown animated"><span>OUR</span></h2>
							<h3 data-wow-duration="1000ms" class="wow slideInLeft animated"><span class="color">Infinite</span>Workshops </h3>
							<p data-wow-duration="1000ms" class="wow slideInRight animated"></p>
						</div>
					</div>
					<!-- end single slide -->

          <!-- single slide -->
          <div class="item" style="background-image: url(/static/new/img/banner1.jpg);">
            <div class="carousel-caption" style="top:30%;">
              <h2 data-wow-duration="500ms" data-wow-delay="500ms" class="wow bounceInDown animated"><span>REGISTER</span></h2>
              <h3 data-wow-duration="500ms" class="wow slideInLeft animated"><span class="color">and</span> Explore </h3>
              <p data-wow-duration="500ms" class="wow slideInRight animated"></p>
 					<!-- end single slide -->
</div>
</div>
				</div>
				<!-- End Wrapper for slide -->

			</div>
		</section>

        <!--
        End Home SliderEnd
        ==================================== -->



        <!--
        Our Works
        ==================================== -->

		<section id="works" class="works clearfix">
			<div class="container">
				<div class="row">

					<div class="sec-title text-center">
						<h2>Workshops</h2>
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
            {% if not open_r %}<br>{% endif %}
					</div>

          {% if open_r %}
					<div class="work-filter wow fadeInRight animated" data-wow-duration="500ms">
						<ul class="text-center">
              <li><a href="javascript:;" data-filter="all" class="active filter">All</a></li>
							<li><a href="javascript:;" data-filter=".Technical" class="active filter">Technical</a></li>
							<li><a href="javascript:;" data-filter=".Non-Technical" class="filter">Non Technical</a></li>
						</ul>
					</div>
          {% endif %}


				</div>
			</div>
{% for workshop in workshops %}
       <div class="modal fade" id="{{workshop.id}}" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{workshop.title}}</h4>
        </div>
        <div class="modal-body workshop-modal">
           <div class="row">
          <div class="col-sm-12"><img src="{{workshop.img_big}}" width="100%"></div>
          </div>
          <br>
          <div class="row">
          <div class="col-sm-12"><p><span style="font-size: 20px;
color: #009973;
font-weight: bold;">Description: </span><br>{{ workshop.desc_1 }}</p></div>
          </div>
          <div class="row" style="padding-top:0px;">
          <div class="col-sm-6"><p><span style="font-size: 15px;
color: #009973;
font-weight: bold;">Faculty Incharge: </span><br>{{ workshop.faculty_name }}<br>{{ workshop.faculty_email }}</p></div>
          <div class="col-sm-6"><p><span style="font-size: 15px;
color: #009973;
font-weight: bold;">Organised by: </span><br>{{ workshop.desc_2 }}</p></div>
          </div>
          <div class="row" style="padding-top:0px;">
          <div class="col-sm-6"><p><span style="font-size: 15px;
color: #009973;
font-weight: bold;">Student Incharge: </span><br>{{ workshop.std_1_name }}<br>{% if workshop.std_1_mobile %}+91-{{ workshop.std_1_mobile }}{% endif %}<br>{% if workshop.std_1_email %}{{ workshop.std_1_email }}{% endif %}</p></div>
          <div class="col-sm-6"><p><span style="font-size: 15px;
color: #009973;
font-weight: bold;">Cap Limit: </span><br>{{ workshop.max_range }}</p></div>
          </div>
          <!-- <p style="position: fixed;top: 160px;left: 30px;color: white;font-size: 25px;">Fee ₹ {{workshop.price}}</p> -->
      
          <br>

          {% if registered %}
                  {% if w_id == workshop.id %}
                        <button data-type="Unregister" data-params="{{workshop.id}}" data-wname="{{ workshop.title }}" class="button gray js-register" style="">Registered</button>
                  {% else %}
                        <p style="text-align:center; font-weight:bold; padding-bottom:15px">You are already register for {{ w_name }} workshop. </p>
                  {% endif %}
          {% elif workshop.registrations_open %}
                        {% if not open_r %}
                              {% if workshop.out_max_range == workshop.out_min_range %}
                              <p style="text-align:center; font-weight:bold;  padding-bottom:15px">Registrations are closed for this workshops </p>
                              {% else %}
                                 <button data-type="workshop" data-params="id={{workshop.id}}" class="button gray js-pay" style="">Register Now</button>
                               {% endif %}
                        {% else %}
                              {% if workshop.min_range == workshop.max_range %}
                              <p style="text-align:center; font-weight:bold;  padding-bottom:15px">Registrations are closed for this workshops </p>
                              {% else %}
                              <p style="text-align:center; font-weight:bold;  padding-bottom:15px">Registrations are closed for Christite </p>
                              {% endif %}
                        {% endif %}
          {% else %}
                    <p style="text-align:center; font-weight:bold;  padding-bottom:15px">Registrations are closed!</p>
          {% endif %}
           
        </div>
       
      </div>
    </div>
  </div>
  {% endfor %}


			<div class="project-wrapper">
				{% for workshop in workshops %}
				<figure class="mix work-item {{ workshop.w_type }}">
					<img class="lazy" data-original="{{workshop.img_big}}" alt="{{ workshop.title }}">
					<h5 style="position:absolute;bottom: 16px;font-size:17px;color: black; text-align: center; width: 100%;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;">{{ workshop.title }}</h5>
					<figcaption class="overlay">
						<a data-toggle="modal" data-target="#{{workshop.id}}"><i class="fa fa-eye fa-lg"></i></a>
						<h4>{{workshop.title}}</h4>
            {% if workshop.min_range > 15 %}
            <p>{{ workshop.min_range }} People Registered</p>
            {% endif %}
						
					</figcaption>
				</figure>
				{% endfor %}
			</div>


		</section>
		        {% endblock %}

 {% block "post_js" %}
  <script>
            var wow = new WOW ({
                boxClass:     'wow',      // animated element css class (default is wow)
                animateClass: 'animated', // animation css class (default is animated)
                offset:       120,          // distance to the element when triggering the animation (default is 0)
                mobile:       false,       // trigger animations on mobile devices (default is true)
                live:         true        // act on asynchronously loaded content (default is true)
              }
            );
            wow.init();
        </script>

{% endblock %}