{% extends "magnovite/new/base.html" %}
{% load socialaccount %}


{% block "extra_meta" %}
<meta name="description" content="Christ University presents its annual techno-cultural fest Magnovite V6, on 2nd and 3rd and 4th of March 2017."" />
<meta name="keywords" content="Magnovite,Tech Fest" />
<meta name="author" content="CUFE" />

<meta property="og:title" content="Workshops | Magnovite V6" />
<meta property="og:type" content="website" />
<meta property="og:image" content="http://magnovite.net/static/img/logo_square_share.png" />
<meta property="og:url" content="http://magnovite.net/events/" />
<meta property="og:description" content="Christ University presents its annual techno-cultural fest Magnovite V6, on 2nd and 3rd and 4th of March 2017."" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Workshops | Magnovite V6" />
<meta name="twitter:description" content="Christ University presents its annual techno-cultural fest Magnovite V6, on 2nd and 3rd and 4th of March 2017."" />
<meta name="twitter:image" content="http://magnovite.net/static/img/logo_square_share.png" />
{% endblock "extra_meta" %}
        <!--
        Home Slider
        ==================================== -->
        {% block "content" %}

		<section id="slider" style="height:410px;">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

				<!-- Indicators bullet -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				</ol>
				<!-- End Indicators bullet -->

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">

					<!-- single slide -->
					<div class="item active" style="background-image: url(/static/new/img/banner.jpg);">
						<div class="carousel-caption" style="top:30%;">
							<h2 data-wow-duration="700ms" data-wow-delay="500ms" class="wow bounceInDown animated"><span>OUR</span></h2>
							<h3 data-wow-duration="1000ms" class="wow slideInLeft animated"><span class="color">Infinite</span>Workshops </h3>
							<p data-wow-duration="1000ms" class="wow slideInRight animated"></p>
						</div>
					</div>
					<!-- end single slide -->

          <!-- single slide -->
          <div class="item" style="background-image: url(/static/new/img/banner1.jpg);">
            <div class="carousel-caption" style="top:30%;">
              <h2 data-wow-duration="500ms" data-wow-delay="500ms" class="wow bounceInDown animated"><span>REGISTER</span></h2>
              <h3 data-wow-duration="500ms" class="wow slideInLeft animated"><span class="color">and</span> Explore </h3>
              <p data-wow-duration="500ms" class="wow slideInRight animated"></p>
 					<!-- end single slide -->
</div>
</div>
				</div>
				<!-- End Wrapper for slide -->

			</div>
		</section>

        <!--
        End Home SliderEnd
        ==================================== -->



        <!--
        Our Works
        ==================================== -->

		<section id="works" class="works clearfix">
			<div class="container">
				<div class="row">

					<div class="sec-title text-center">
						<h2>Workshops</h2>
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
					</div>


					<div class="work-filter wow fadeInRight animated" data-wow-duration="500ms">
						<ul class="text-center">
              <li><a href="javascript:;" data-filter="all" class="active filter">All</a></li>
							<li><a href="javascript:;" data-filter=".Technical" class="active filter">Technical</a></li>
							<li><a href="javascript:;" data-filter=".Non-Technical" class="filter">Non Technical</a></li>
						</ul>
					</div>

				</div>
			</div>
{% for workshop in workshops %}
       <div class="modal fade" id="{{workshop.id}}" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{workshop.title}}</h4>
        </div>
        <div class="modal-body">
           <div class="row">
          <div class="col-sm-12"><img src="{{workshop.img_big}}" width="100%"></div>
          </div>
          <br>
          <p style="position: fixed;top: 160px;left: 30px;color: white;font-size: 25px;">Fee ₹ {{workshop.price}}</p>
           <div class="row">
          <div class="col-sm-6">
          <a class="Modal-register" style="line-height: 13; margin-left: 10%; color: white;background-color: #009973;padding:15px;">Registeration Starting From 2 Feb 2017</a>
          </div>
          <div class="col-sm-6">
          <div class="payu part">
              <img src="/static/img/payu.jpg" alt="PayuMoney">
          </div>
          </div>
           </div>
        </div>
       
      </div>
    </div>
  </div>
  {% endfor %}


			<div class="project-wrapper">
				{% for workshop in workshops %}
				<figure class="mix work-item {{ workshop.w_type }}">
					<img class="lazy" data-original="{{workshop.img_big}}" alt="{{ workshop.title }}">
					<figcaption class="overlay">
						<a data-toggle="modal" data-target="#{{workshop.id}}"><i class="fa fa-eye fa-lg"></i></a>
						<h4>{{workshop.title}}</h4>
						<p>Fee ₹ {{workshop.price}}</p>
					</figcaption>
				</figure>
				{% endfor %}
			</div>


		</section>
		        {% endblock %}

 {% block "post_js" %}
  <script>
            var wow = new WOW ({
                boxClass:     'wow',      // animated element css class (default is wow)
                animateClass: 'animated', // animation css class (default is animated)
                offset:       120,          // distance to the element when triggering the animation (default is 0)
                mobile:       false,       // trigger animations on mobile devices (default is true)
                live:         true        // act on asynchronously loaded content (default is true)
              }
            );
            wow.init();
        </script>

{% endblock %}