<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	
	<title>About - Magnovite 6.0 | Kreo</title>
	<meta name="description" content="Christ University presents its annual techno-cultural fest Magnovite V6, on 2nd, 3rd and 4th of March 2017." />
	<meta name="keywords" content="Magnovite,Tech Fest,Tech Fest Bangalore,Christ University Fest,Fest" />
	<link rel="canonical" href="http://www.magnovite.net">
	<meta name="robots" content="index, follow" />
	<meta name="author" content="Gaurav" />
	<meta name="designer" content="Gaurav" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- Facebook -->
	<meta property="og:title" content="Magnovite 6.0" />
	<meta property="og:site_name" content="Magnovite 6.0" />
	<meta property="og:description" content="Technocultural Fest" />
	<meta property="og:url" content="http://www.magnovite.net" />
	<meta property="og:image" content="/static/home_new/img/logos/mag-logo.png" />
	<meta property="og:type" content="website" />
	
	<link rel="shortcut icon" href="/static/home_new/img/logos/favicons/favicon.ico">
	
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link media="screen" rel="stylesheet" type="text/css" href="/static/home_new/assets/css/styles.min.css" />
	<link media="screen" rel="stylesheet" type="text/css" href="/static/home_new/assets/css/mobile.css" />
	
	
	<!--[if lt IE 9]><script src="http://www.magnovite.com/js/lib/html5shiv.min.js"></script><![endif]-->
		<script type="text/javascript" src="/static/home_new/assets/js/baron.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
		<script src="/static/home_new/assets/js/lib/modern-detect-izr.min.js"></script>
		<script type="text/javascript">
			window.onload = function() {
    // Horizontal

    baron({
        root: '.baron',
        scroller: '.baron__scroller',
        bar: '.baron__bar',
        scrollingCls: '_scrolling',
        draggingCls: '_dragging'
    }).controls({
        // Element to be used as interactive track. Note: it could be different from 'track' param of baron.
        track: '.baron__track',
        forward: '.baron__down',
        backward: '.baron__up'
    })
}


		</script>
		
		<link media="screen" rel="stylesheet" type="text/css" href="/static/home_new/assets/css/baron.css" />
	<link media="screen" rel="stylesheet" type="text/css" href="/static/home_new/assets/css/styles.css" />	
		
		
		<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-37290176-23', 'auto');
		ga('send', 'pageview');
	</script>
	<style type="text/css">
		
		/* 640px */
		@media only screen and (max-width: 640px) {
					.agency .main-content .text,
					.agency .agency-subpage .text {
					    position: absolute;
					    left: 0;
					    top: 110px;
					    width: 500px
					}
					#page-wrapper
					{
						height: 570px;
					}
					#page-container
					{
						top: -10px;
						width: 100%;
						height: 100%;
					}
					#page-content
					{
						left: -65px;
						top: 15px;
						width: 100%;
						height: 100%;
					}
					.line-title
					{
						top: 100px;
						left: -2px;
					}
					.agency .main-content .text, .agency .agency-subpage .text
					{
						top: 95px;
						width: 280px;
						height: 250px;
						overflow: scroll;
					}
					#agency-links {
					    position: fixed;
					    left: 10px;
					    bottom: 10px;
					    width: 160px;
					}
					#page-wrapper .line-1
					{
						left: -65px;
						top: 80px;
					}

					#page-wrapper .line-2 {
					    left: 0px;
					    bottom: 10px;
					    width: 2px;
					    position: fixed;
					}
					.header-big-logo
					{
						display: none;
					}
					.new-menu 
					{
					    top: 40%;
					}
					.sidenav
					{
						z-index: 5;
					}
					.my-scroller
					{
						overflow: hidden;
					}
		}
		.org-div-email
		{
			margin-top: 3px;
		}

	</style>
	
	</head>

<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->



<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/about">About</a>
  <a href="/events">Events</a>
  <a href="/workshops">Workshops</a>
  <a href="/campus">Campus Ambassador</a>
  <a href="/rightclick">Right Click</a>
</div>

<!-- Main container -->
<div id="main-container" class="preload">
	
	<!-- Loader -->
	<div id="loader">
		<div class="loader-bg"></div>
		<div class="loader-progress"></div>
	</div>
	
	<!-- Canvas -->
	<div id="canvas-container">
		<canvas id="canvas"></canvas>
	</div>
	
	<!-- Header -->
	<header id="header">
		<div id="header-small-logo" >
				<span   class="open-button" style="font-size: 35px; color: #01a37b;" onclick="openNav()"><i class="fa fa-bars"></i>
 </span>
				<a href="/" onclick="window.location='http://www.magnovite.netS'" class="home-link">
				<img class="logo150" src="/static/home_new/img/logos/logo150.png" style="" alt="Magnovite" />
			</a>
			
		</div>
		
		<!-- timer end			 -->
		<nav id="menu">
			<ul>
				<li>
					<a href="/about" class="menu-link">
						<span class="nb">01</span>
						<span class="text">About</span>
					</a>
				</li>
				<li>
					<a href="/events" onclick="window.location='http://www.magnovite.net/events'" class="menu-link">
						<span class="nb">02</span>
						<span class="text">Events</span>
					</a>
				</li>
				<li>
					<a href="/workshops" onclick="window.location='http://www.magnovite.net/workshops'" class="menu-link">
						<span class="nb">03</span>
						<span class="text">Workshops</span>
					</a>
				</li>
				<li>
					<a href="/campus" onclick="window.location='http://www.magnovite.net/campus'" class="menu-link">
						<span class="nb">03</span>
						<span class="text">Campus Ambassador</span>
					</a>
				</li>
				<li>
					<a href="/rightclick" onclick="window.location='http://www.magnovite.net/rightclick'" class="menu-link">
						<span class="nb">04</span>
						<span class="text">Right Click</span>
					</a>
				</li>
			</ul>
		</nav>
		<div class="header-big-logo">
			<div class="header-big-logo-border"></div>
			<h1 class="page-title">
		<span class="page-title-l1" style="color:#00a87e;">2, 3 and 4 March</span>
		<span class="page-title-l2">Magnovite 6.0</span>
	</h1>
		</div>
	</header>
	
	<!-- Page wrapper -->
	<div id="page-wrapper">
		<div class="line-1"></div>
		<div class="line-2"></div>
		
		<!-- Page container -->
		<div id="page-container">
		
<!-- Agency -->
<section id="page-content" class="agency" data-page="agency">
	
	<!-- Main content -->
	<article class="main-content" id="mainpart">
		<div class="line-1 line-title" style="top:100px;"></div>
		<div class="close-part">
			<div class="close-part-arrow" onclick="about()"></div>
		</div>
		<h1 class="page-title">
			<span class="page-title-l1">About</span>
			<span class="page-title-l2">Magnovite 6.0</span>
		</h1>
		<div class="text">
			<p>
				 Magnovite is the annual techno-cultural fest organized by the Faculty of Engineering, <a href="http://www.christuniversity.in"> Christ University</a>, Bangalore, to be held on 2nd, 3rd and 4th of March 2017.
			</p>
			<p>
				Magnovite 6.0 aims at encouraging scientific innovation and knowledge of technology among the masses.
			</p>
			<p>
				"KREO,Beyond Infinity" </span></b> the theme of Magnovite 6.0 is a translation of english word 'CREATION' in Esperanto language, we are emphasizing on the 'Technical World', evolution of technology in all disciplines.
			</p>
		</div>
	</article>
	
	<!-- Part links -->
	<nav id="agency-links">
		<h3 class="page-subtitle">About</h3>
		<ul>
			<li class="link">
				<h2 class="link-title" onclick="contactus()">Contact Us</h2>
			</li>
			<li class="link">
				<h2 class="link-title" onclick="sponsor()">Why Sponsor Us</h2>
			</li>
			<li class="link">
				<h2 class="link-title" onclick="team()">Magnovite Team</h2>
			</li>
		</ul>
	</nav>
	
	<!-- Parts -->
	<div class="agency-subpage-container">
		<article class="agency-subpage" id="contact">
			<h3 class="page-title">
				<span class="page-title-l1">About</span>
				<span class="page-title-l2">Contact Us</span>
			</h3>
			<div class="text">
				<p>
                                                        Faculty Of Engineering<br>
                                                        <a href="http://www.christuniversity.in">Christ University</a><br>
                                                        Kanminike,Kumbalgodu
                                                        Bengaluru, Karnataka 560074
                </p>
                <p>
                    Name: Vinay Jha Pillai
                                                    <br>
                                                    Designation: Faculty Incharge
                                                    <br>
                                                        Phone: +91-9164076123<br><br>
                                                        Name: Anil Melwin Rego
                                                         <br>
                                                    Designation: Faculty Incharge
                                                        <br>
                                                        Phone: +91-8904798571<br><br>
                                                        Name: Adishesha Sairam KB
                                                         <br>
                                                    Designation: Student Representative
                                                        <br>
                                                        Phone: +91-9972878455
                </p>
			</div>
		</article>
		<article class="agency-subpage" id="sponsor">
			<h3 class="page-title">
				<span class="page-title-l1">About</span>
				<span class="page-title-l2">Why Sponsor Us</span>
			</h3>
			<div class="text">
				<p>
					Magnovite is the annual techno-cultural fest organized by the Faculty of Engineering, <a href="http://www.christuniversity.in"> Christ University</a>
				</p>
				<p>
					 Excellent and Innovative publicity through Social Media, Posters, Flexes, Banners, Media Partner etc.
				</p>
				<p>
					 Diversity in Audiences, public outreach of over 3k+ students over 3 days. Brand outreach in 90+ Engineering/Technology and Under-Graduate Institutions in and around Bangalore.
				</p>
				<p>
					Information/Promotion stalls of Sponsors placed at strategic locations throughout the campus
				</p>
				<p>
					 Mention in Faculty of Engineering,<a href="http://www.christuniversity.in"> Christ University</a> NewsLetter 'Spectrum'
				</p>
				<p>
					Logos and Links to the Sponsors website on the Official Fest website
				</p>
				<p>
					 Our Sponsorship team can tailor our packages to meet prospective Sponsor's unique needs.
				</p>
				<p>
					 In addition, we offer our Sponsors different packages each with its own benefits.
				</p>
				<p>
					We hope to form a mutual and beneficial Sponsorship with all our Sponsors.
                                                        <br>
                                                        <br><br>
                                                        For more details please contact <br><br><span class="green" style="font-weight:bold;">Arun RJ (Designation: Faculty Incharge, Phone: +91-990978676, Email: <a href="mailto:arun.r@christuniversity.in">arun.r@christuniversity.in</a>),<br><br>
                                                        Adishesha Sairam KB (Designation: Student Representative, Phone: +91-9972878455, Email: <a href="mailto:adishesha.sairam@btech.christuniversity.in"> adishesha.sairam@btech.christuniversity.in</a>)</span>
				</p>
			</div>
		</article>
		<article class="agency-subpage" id="team">
			<h3 class="page-title">
				<span class="page-title-l1">About</span>
				<span class="page-title-l2">Magnovite Team</span>
			</h3>

			<div class="text my-scroller">
			<div class="baron baron__root baron__clipper _macosx _scrollbar" style="height:inherit">
			<div class="baron__scroller" style="height:inherit;">
			<br>

            <h3 class="org-h3">Developers</h3>
            <br>
			<!-- Your content here -->
			<div class="org-dev">
			<div style="" class="org-main">
                    <p class="org-p">Web Master:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://firebasestorage.googleapis.com/v0/b/magnovite-app.appspot.com/o/AAEAAQAAAAAAAAjfAAAAJGExYWIwZjUwLWMyNDYtNDJhYS05YjIzLTk4ZmMyZDNiNGQ1NA.jpg?alt=media&token=fd26bd7b-e6e6-49d0-a494-9de1eaa6aa65">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Gaurav Sehgal</p>
                    <p class="org-div-no">7042601587</p>
                    <a href="mailto:dggs222@gmail.com"><p class="org-div-email" style="margin-top: 3px;">dggs222@gmail.com</p></a>
                    </div>
                </div>
            <!-- Your content here -->
			<div style="" class="org-main">
                    <p class="org-p">App Developer:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://firebasestorage.googleapis.com/v0/b/magnovite-app.appspot.com/o/IMG_20170124_144655.jpg?alt=media&token=10420fb9-4534-48e1-93e3-d73b396e18c8">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Gulzar Ahmed</p>
                    <p class="org-div-no">9742634857</p>
                    
                    </div>
                </div>
           </div>

<br>
            <h3 class="org-h3">Organizers</h3>
            <br>
            <!-- Your content here -->
            <div class="org-dev">
			<div style="" class="org-main">
                    <p class="org-p">Student Representative:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAfPAAAAJGY4NjkyOTEzLTg3MTctNGYyYS1iMzNmLWY5NGNhZjA3MDhjNQ.jpg">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Adishesha Sairam KB</p>
                    <p class="org-div-no">9972878455</p>
                    
                    </div>
                </div>

               <div style="" class="org-main">
                    <p class="org-p">Marketing and Publicity Head:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAASZAAAAJDI0ZjgwNTFiLWE0NGMtNDA5Ny1iNDJhLWRmYmI4YzcxNmMwMQ.jpg">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Divyendu Mishra</p>
                    <p class="org-div-no">5456465464</p>
                    
                    </div>
                </div>
            <!-- Your content here -->
			<div style="" class="org-main">
                    <p class="org-p">Technical Event Head</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAj6AAAAJGNhZDMxMDA5LTIzMTktNDk2Mi05YjQ5LWJlOGQ3YThmYjI0NA.jpg">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Farhana Jolly</p>
                    <p class="org-div-no">9620142854</p>
                    
                    </div>
                </div>
            <!-- Your content here -->
			<div style="" class="org-main">
                    <p class="org-p">Cultural Event Head:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://firebasestorage.googleapis.com/v0/b/magnovite-app.appspot.com/o/Organizers%2FIMG-20170127-WA0002.jpg?alt=media&token=81cb0089-3e97-4f3e-8d48-cb273925c401">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">S Rohit</p>
                    <p class="org-div-no">9971745226</p>
                    
                    </div>
                </div>
               <div style="" class="org-main">
                    <p class="org-p">Computer Console:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://firebasestorage.googleapis.com/v0/b/magnovite-app.appspot.com/o/Organizers%2Falan.jpg?alt=media&token=87af1701-2bf3-45cd-97eb-b7ab5fb4fed0">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Alankrit Gupta</p>
                    <p class="org-div-no">9697016007</p>
                    
                    </div>
                </div>
               <div style="" class="org-main">
                    <p class="org-p">Marketing and Publicity:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAOUAAAAJDMwNWM4MzNhLTZjNjYtNDAwNS1iYWU2LTZkYmE3ZTlhMzg1Yg.jpg">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Dhananjay Patel</p>
                    <p class="org-div-no">7022165611</p>
                    
                    </div>
                </div>
               <div style="" class="org-main">
                    <p class="org-p">Workshop Head:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAcYAAAAJDJiZTRhNzk3LTFjNmUtNGVkOC1iNGM4LTk1NmJhMzUyMWFkNA.jpg">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Aakash Jha</p>
                    <p class="org-div-no">9742810473</p>
                    
                    </div>
                </div>
               <div style="" class="org-main">
                    <p class="org-p">Treasurer:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAjdAAAAJGMyOWI3OTE0LWYyODItNDhjZi1hYzIyLTg0YjQ3ZmE2YTQ1ZA.jpg">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Dharmaarjun K</p>
                    <p class="org-div-no">9663406057</p>
                    
                    </div>
                </div>

                <div style="" class="org-main">
                    <p class="org-p">Disciplinary Head:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAK2AAAAJDZjNDg4ZWU1LTBlOWUtNGJiZi1hMDExLTE1MTNlZTQ4MTUwZQ.jpg">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Divyank Dubey</p>
                    <p class="org-div-no">8971751224</p>
                    
                    </div>
                </div>

                <div style="" class="org-main">
                    <p class="org-p">Registration and Certification:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://firebasestorage.googleapis.com/v0/b/magnovite-app.appspot.com/o/Organizers%2FFB_IMG_14855065478272619.jpg?alt=media&token=8f5cdfa5-de25-4cfc-8273-1a716274aed1">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Aman Asif</p>
                    <p class="org-div-no">7561804622</p>
                    
                    </div>
                </div>
                <div style="" class="org-main">
                    <p class="org-p">Event Management:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAhtAAAAJDJjMjI5MjRjLTY3ZWYtNDlhMC1hYTMwLWE2NTNkOTc3ZmQ4Mw.jpg">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Anoop Sabu John:</p>
                    <p class="org-div-no">9902165207</p>
                    
                    </div>
                </div>
                 <div style="" class="org-main">
                    <p class="org-p">Hospitality Manager:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAmKAAAAJGEwYmZjMjAwLTUwMWUtNDVlMS04MTY0LTU1Y2RiZjRkNGZkOQ.jpg">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Saransh Sharma</p>
                    <p class="org-div-no">9986764196</p>
                    
                    </div>
                </div>
                 <div style="" class="org-main">
                    <p class="org-p">Stage committee head:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAgdAAAAJDZmNTJlNTk3LWIxZGMtNDgzNS04NWVhLWExMDBiYTJmMjY1Yw.jpg">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Chetna Sharma</p>
                    <p class="org-div-no">7829288625</p>
                    
                    </div>
                </div>
                <div style="" class="org-main">
                    <p class="org-p">Design Head:</p>
                    <div class="org-p-div">
                    <img class="org-img" src="https://firebasestorage.googleapis.com/v0/b/magnovite-app.appspot.com/o/IMG-20170131-WA0001.jpg?alt=media&token=6638f10d-05bc-4866-939f-92af12c1a551">
                    </div>
                    <div class="org-div">
                    <p class="org-div-name">Rahul Raj</p>
                    <p class="org-div-no">7022151336</p>
                    
                    </div>
                </div>
                </div>


			</div>

			<div class="baron__track">
			        <div class="baron__control baron__up">▲</div>
			        <div class="baron__free">
			            <div class="baron__bar"></div>
			        </div>
			        <div class="baron__control baron__down">▼</div>
			    </div>
			</div>
				</div>

				
		</article>

	</div>
	
</section>
	
		</div>  <!-- End #page-container -->
	</div> <!-- end #page-wrapper -->
	
	<!-- Footer -->
	<footer id="footer">
		<nav class="footer-link new-menu">
			<ul>
				<li>
					<a href="facebook" class="menu-link social-link" >
						<span class="nb"><i class="fa fa-facebook"></i>
</span>
					</a>
				</li>
				<li>
					<a href="twitter" onclick="window.location='http://www.magnovite.net/events'" class="menu-link social-link">
						<span class="nb"><i class="fa fa-twitter"></i>
</span>
					</a>
				</li>
				<li>
					<a href="google" onclick="window.location='http://www.magnovite.net/campus'" class="menu-link social-link">
						<span class="nb"><i class="fa fa-instagram"></i>
</span>
					</a>
				</li>
				<!-- <li>
					<a href="/login" class="menu-link">
						<span class="nb">05</span>
					</a>
				</li> -->
			</ul>
		</nav>

		<!-- Timer -->
		<div>
		<img class="christ-logo" src="/static/home_new/img/logos/christ_LOGO-black.png"></img>
	</div>
		<a class="footer-link legals-link play-store" href="https://play.google.com/store/apps/details?id=gulzar.magnovite&hl=en"  onclick="window.location='https://play.google.com/store/apps/details?id=gulzar.magnovite&hl=en'">
			<img src="/static/home_new/img/logos/playstore.png"></img>
		</a>
		<a class="footer-link footer-link1 legals-link">
			<span>&copy; Magnovite 6.0</span>
		</a>
		<a href="https://github.com/dggs123/magnovitev6/graphs/contributors" target="_blank" class="footer-link footer-link1 footer-akaru">
			<span>Developers</span>
		</a>
		<div class="footer-link footer-link1 footer-sound">
			<img src="/static/home_new/img/others/sound.png" alt="Sound"/>
		</div>
	</footer>
	
	<!-- No JS -->
	<noscript>
	<div id="no-js">
	<div class="center">
		<div class="alt-title">JavaScript is deactive.</div>
	</div>
</div>
	</noscript>
	
</div> <!-- End #main-container -->



<!-- Scripts -->
<script>
	var LOCALHOST = '';
	var PROD  = '1';
	var WEB_ROOT = 'http://www.magnovite.net/';
	var LG = 'fr';
</script>
<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/static/home_new/assets/js/scripts.min.js"></script><!--<![endif]
-->
<script type="text/javascript" src="/static/home_new/assets/js/main.js"></script>


</body>


</html>


