<!DOCTYPE html>
<html class="no-js" lang="en">


<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	
	<title>About - Magnovite 6.0 | Kreo</title>
	<meta name="description" content="Christ University presents its annual techno-cultural fest Magnovite V6, on 2nd, 3rd and 4th of March 2017." />
	<meta name="keywords" content="Magnovite,Tech Fest,Tech Fest Bangalore,Christ University Fest,Fest" />
	<meta name="robots" content="index, follow" />
	<meta name="author" content="Gaurav" />
	<meta name="designer" content="Gaurav" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- Facebook -->
	<meta property="og:title" content="Magnovite 6.0" />
	<meta property="og:site_name" content="Magnovite 6.0" />
	<meta property="og:description" content="Technocultural Fest" />
	<meta property="og:url" content="http://www.magnovite.net" />
	<meta property="og:image" content="/static/home_new/img/logos/mag-logo.png" />
	<meta property="og:type" content="website" />
	
	<link rel="shortcut icon" href="/static/home_new/img/logos/favicons/favicon.ico">
	
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link media="screen" rel="stylesheet" type="text/css" href="/static/home_new/assets/css/styles.min.css" />
	<link media="screen" rel="stylesheet" type="text/css" href="/static/home_new/assets/css/mobile.css" />
	
	
	<!--[if lt IE 9]><script src="http://www.magnovite.com/js/lib/html5shiv.min.js"></script><![endif]--><script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
		<script src="/static/home_new/assets/js/lib/modern-detect-izr.min.js"></script>
		<script type="text/javascript" src="http://cdn.rawgit.com/hilios/jQuery.countdown/2.2.0/dist/jquery.countdown.min.js"></script>
		
		
		<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-37290176-23', 'auto');
		ga('send', 'pageview');
	</script>

	<style type="text/css">
		.play-store
		{
			position: fixed;
			bottom: 6%;
			right: 1.3%;
		}
		.play-store img
		{
			width: 210px;
		}
		.play-store:hover:after
		{
			width: 0%;
		}
	</style>
	</head>


<!--[if lt IE 7]> <body class="ie6 lt-ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->



<!-- Main container -->
<div id="main-container" class="preload">
	
	<!-- Loader -->
	<div id="loader">
		<div class="loader-bg"></div>
		<div class="loader-progress"></div>
	</div>
	
	<!-- Canvas -->
	<div id="canvas-container">
		<canvas id="canvas"></canvas>
	</div>
	
	<!-- Header -->
	<header id="header">
		<div id="header-small-logo">
			<!-- <div class="header-small-logo-line"></div> -->
			<a href="/" onclick="window.location='http://www.magnovite.net'" class="home-link">
				<img src="/static/home_new/img/logos/logo150.png" style="width:70px;margin-left: -16px;
margin-top: -20px;" alt="Giant Steps" />
			</a>
		</div>
		
		<!-- timer end			 -->
		<nav id="menu">
			<ul>
				<li>
					<a href="/about" class="menu-link">
						<span class="nb">01</span>
						<span class="text">About</span>
					</a>
				</li>
				<li>
					<a href="/events" onclick="window.location='http://www.magnovite.net/events'" class="menu-link">
						<span class="nb">02</span>
						<span class="text">Events</span>
					</a>
				</li>
				<li>
					<a href="/workshops" onclick="window.location='http://www.magnovite.net/workshops'" class="menu-link">
						<span class="nb">03</span>
						<span class="text">Workshops</span>
					</a>
				</li>
				<li>
					<a href="/campus" onclick="window.location='http://www.magnovite.net/campus'" class="menu-link">
						<span class="nb">03</span>
						<span class="text">Campus Ambassador</span>
					</a>
				</li>
				<li>
					<a href="/rightclick" onclick="window.location='http://www.magnovite.net/rightclick'" class="menu-link">
						<span class="nb">04</span>
						<span class="text">Right Click</span>
					</a>
				</li>
			</ul>
		</nav>
		<div class="header-big-logo">
			<div class="header-big-logo-border"></div>
			<!-- <img src="/static/home_new/img/logos/christ_LOGO-black.png" style="margin-top:32px;" alt="Giant Steps" /> -->
			<h1 class="page-title">
		<span class="page-title-l1" style="color:#00a87e;">2, 3 and 4 March</span>
		<span class="page-title-l2">Magnovite 6.0</span>
	</h1>
		</div>
	</header>
	
	<!-- Page wrapper -->
	<div id="page-wrapper">
		<div class="line-1"></div>
		<div class="line-2"></div>
		
		<!-- Page container -->
		<div id="page-container">
		
<!-- Agency -->
<section id="page-content" class="agency" data-page="agency">
	
	<!-- Main content -->
	<article class="main-content">
		<div class="line-1 line-title" style="top:100px;"></div>
		<div class="close-part">
			<div class="close-part-arrow"></div>
		</div>
		<h1 class="page-title">
			<span class="page-title-l1">About</span>
			<span class="page-title-l2">Magnovite 6.0</span>
		</h1>
		<div class="text">
			<p>
				 Magnovite is the annual techno-cultural fest organized by the Faculty of Engineering, <a href="http://www.christuniversity.in"> Christ University</a>, Bangalore, to be held on 2nd, 3rd and 4th of March 2017.
			</p>
			<p>
				Magnovite 6.0 aims at encouraging scientific innovation and knowledge of technology among the masses.
			</p>
			<p>
				"KREO,Beyond Infinity" </span></b> the theme of Magnovite 6.0 is a translation of english word 'CREATION' in Esperanto language, we are emphasizing on the 'Technical World', evolution of technology in all disciplines.
			</p>
		</div>
	</article>
	
	<!-- Part links -->
	<nav id="agency-links">
		<h3 class="page-subtitle">About</h3>
		<ul>
			<li class="link">
				<h2 class="link-title">Contact Us</h2>
			</li>
			<li class="link">
				<h2 class="link-title">Why Sponsor Us</h2>
			</li>
			<li class="link">
				<h2 class="link-title">Magnovite Team</h2>
			</li>
			<!-- <li class="link">
				<h2 class="link-title">Orchestration</h2>
			</li> -->
		</ul>
	</nav>
	
	<!-- Parts -->
	<div class="agency-subpage-container">
		<article class="agency-subpage">
			<h3 class="page-title">
				<span class="page-title-l1">About</span>
				<span class="page-title-l2">Contact Us</span>
			</h3>
			<div class="text">
				<p>
                                                        Faculty Of Engineering<br>
                                                        <a href="http://www.christuniversity.in">Christ University</a><br>
                                                        Kanminike,Kumbalgodu
                                                        Bengaluru, Karnataka 560074
                </p>
                <p>
                    Name: Vinay Jha Pillai
                                                    <br>
                                                    Designation: Faculty Incharge
                                                    <br>
                                                        Phone: +91-9164076123<br><br>
                                                        Name: Anil Melwin Rego
                                                         <br>
                                                    Designation: Faculty Incharge
                                                        <br>
                                                        Phone: +91-8904798571<br><br>
                                                        Name: Adishesha Sairam KB
                                                         <br>
                                                    Designation: Student Representative
                                                        <br>
                                                        Phone: +91-9972878455
                </p>
			</div>
		</article>
		<article class="agency-subpage">
			<h3 class="page-title">
				<span class="page-title-l1">About</span>
				<span class="page-title-l2">Why Sponsor Us</span>
			</h3>
			<div class="text">
				<p>
					Magnovite is the annual techno-cultural fest organized by the Faculty of Engineering, <a href="http://www.christuniversity.in"> Christ University</a>
				</p>
				<p>
					 Excellent and Innovative publicity through Social Media, Posters, Flexes, Banners, Media Partner etc.
				</p>
				<p>
					 Diversity in Audiences, public outreach of over 3k+ students over 3 days. Brand outreach in 90+ Engineering/Technology and Under-Graduate Institutions in and around Bangalore.
				</p>
				<p>
					Information/Promotion stalls of Sponsors placed at strategic locations throughout the campus
				</p>
				<p>
					 Mention in Faculty of Engineering,<a href="http://www.christuniversity.in"> Christ University</a> NewsLetter 'Spectrum'
				</p>
				<p>
					Logos and Links to the Sponsors website on the Official Fest website
				</p>
				<p>
					 Our Sponsorship team can tailor our packages to meet prospective Sponsor's unique needs.
				</p>
				<p>
					 In addition, we offer our Sponsors different packages each with its own benefits.
				</p>
				<p>
					We hope to form a mutual and beneficial Sponsorship with all our Sponsors.
                                                        <br>
                                                        For more details please contact <br><span class="green" style="font-weight:bold;">Arun RJ (Designation: Faculty Incharge, Phone: +91-990978676, Email: <a href="mailto:arun.r@christuniversity.in">arun.r@christuniversity.in</a>),<br>
                                                        Adishesha Sairam KB (Designation: Student Representative, Phone: +91-9972878455, Email: <a href="mailto:adishesha.sairam@btech.christuniversity.in"> adishesha.sairam@btech.christuniversity.in</a>)</span>
				</p>
			</div>
		</article>
		<article class="agency-subpage">
			<h3 class="page-title">
				<span class="page-title-l1">About</span>
				<span class="page-title-l2">Magnovite Team</span>
			</h3>
			<div class="text">
				<p>
					coming Soon...
				</p>
			</div>
		</article>
		<!-- <article class="agency-subpage">
			<h3 class="page-title">
				<span class="page-title-l1">Compétences_</span>
				<span class="page-title-l2">Orchestration</span>
			</h3>
			<div class="text">
				<p>
					Nous intervenons régulièrement sur l’orchestration et l’arrangement de différentes oeuvres, notre terrain de prédilection étant plus particulièrement la musique pour grands ensembles.
				</p>
			</div>
		</article> -->
	</div>
	
</section>
	
		</div>  <!-- End #page-container -->
	</div> <!-- end #page-wrapper -->
	
	<!-- Footer -->
	<footer id="footer">
		<!--
		<div class="footer-social">
			<a href="#" target="_blank" class="footer-link facebook">
				<img src="http://www.magnovite.com//static/home_new/img/logos/facebook.png" alt="Facebook Giant Steps" />
			</a>
			<a href="#" target="_blank" class="footer-link twitter">
				<img src="http://www.magnovite.com//static/home_new/img/logos/twitter.png" alt="Twitter Giant Steps" />
			</a>
		</div>
		-->
		<nav class="footer-link new-menu">
			<ul>
				<li>
					<a href="facebook" class="menu-link social-link" >
						<span class="nb"><i class="fa fa-facebook"></i>
</span>
					</a>
				</li>
				<li>
					<a href="twitter" onclick="window.location='http://www.magnovite.net/events'" class="menu-link social-link">
						<span class="nb"><i class="fa fa-twitter"></i>
</span>
					</a>
				</li>
				<li>
					<a href="google" onclick="window.location='http://www.magnovite.net/campus'" class="menu-link social-link">
						<span class="nb"><i class="fa fa-instagram"></i>
</span>
					</a>
				</li>
				<!-- <li>
					<a href="/login" class="menu-link">
						<span class="nb">05</span>
					</a>
				</li> -->
			</ul>
		</nav>

		<!-- Timer -->
		<span id="clock"></span>
		<a class="footer-link legals-link play-store" href="https://play.google.com/store/apps/details?id=gulzar.magnovite&hl=en"  onclick="window.location='https://play.google.com/store/apps/details?id=gulzar.magnovite&hl=en'">
			<img src="/static/home_new/img/logos/playstore.png"></img>
		</a>
		<a class="footer-link legals-link">
			<span>&copy; Magnovite 6.0</span>
		</a>
		<a href="https://github.com/dggs123/magnovite-2017/graphs/contributors" target="_blank" class="footer-link footer-akaru">
			<span>Developers</span>
		</a>
		<div class="footer-link footer-sound">
			<img src="/static/home_new/img/others/sound.png" alt="Sound"/>
		</div>
	</footer>
	
	<!-- No JS -->
	<noscript>
	<div id="no-js">
	<div class="center">
		<div class="alt-title">JavaScript est désactivé.</div>
	</div>
</div>
	</noscript>
	
</div> <!-- End #main-container -->



<!-- Scripts -->
<script>
	var LOCALHOST = '';
	var PROD  = '1';
	var WEB_ROOT = 'http://www.magnovite.net/';
	var LG = 'fr';
</script>
<!--[if (gte IE 9)|!(IE)]><!--><script src="/static/home_new/assets/js/scripts.min.js"></script><!--<![endif]
-->
<script type="text/javascript" src="/static/home_new/assets/js/main.js"></script>


</body>


</html>