<!DOCTYPE html>
<html class="no-js" lang="fr">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
	
	<title>Projets - Magnovite 6.0 | Kreo</title>
	<meta name="description" content="Magnovite 6.0  | Kreo" />
	<meta name="keywords" content="" />
	<meta name="robots" content="index, follow" />
	<meta name="author" content="Gaurav" />
	<meta name="designer" content="Gaurav" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="format-detection" content="telephone=no">
	
	<!-- Facebook -->
	<meta property="og:title" content="Magnovite 6.0" />
	<meta property="og:site_name" content="Magnovite 6.0" />
	<meta property="og:description" content="Technocultural Fest" />
	<meta property="og:url" content="http://127.0.0.1:8000/test" />
	<meta property="og:image" content="/static/home_new/assets/img/logos/facebook_share.jpg" />
	<meta property="og:type" content="website" />
	
	<link rel="shortcut icon" href="/static/home_new/img/logos/favicons/favicon.ico">
	
	<link media="screen" rel="stylesheet" type="text/css" href="/static/home_new/assets/css/styles.min.css" />
	
	<!--[if lt IE 9]><script src="http://www.giantstepsmedias.com/js/lib/html5shiv.min.js"></script><![endif]-->
		<script src="/static/home_new/assets/js/lib/modern-detect-izr.min.js"></script>
		
		<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','http://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-37290176-23', 'auto');
		ga('send', 'pageview');
	</script>
	</head>


<!--[if lt IE 7]> <body class="ie6 lt-ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
<!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->



<!-- Main container -->
<div id="main-container" class="preload">
	
	<!-- Loader -->
	<div id="loader">
		<div class="loader-bg"></div>
		<div class="loader-progress"></div>
	</div>
	
	<!-- Canvas -->
	<div id="canvas-container">
		<canvas id="canvas"></canvas>
	</div>
	
	<!-- Header -->
	<header id="header">
		<div id="header-small-logo">
			<div class="header-small-logo-line"></div>
			<a href="index.html" class="home-link">
				<img src="/static/home_new/img/logos/giant_steps_small.png" alt="Giant Steps" />
			</a>
		</div>
		<nav id="menu">
			<ul>
				<li>
					<a href="agence.html" class="menu-link">
						<span class="nb">01</span>
						<span class="text">Agence</span>
					</a>
				</li>
				<li>
					<a href="projets.html" class="menu-link">
						<span class="nb">02</span>
						<span class="text">Projets</span>
					</a>
				</li>
				<li>
					<a href="clients.html" class="menu-link">
						<span class="nb">03</span>
						<span class="text">Clients</span>
					</a>
				</li>
				<li>
					<a href="contact.html" class="menu-link">
						<span class="nb">04</span>
						<span class="text">Contact</span>
					</a>
				</li>
			</ul>
		</nav>
		<div class="header-big-logo">
			<div class="header-big-logo-border"></div>
			<img src="/static/home_new/img/logos/giant_steps_big.png" alt="Giant Steps" />
		</div>
	</header>
	
	<!-- Page wrapper -->
	<div id="page-wrapper">
		<div class="line-1"></div>
		<div class="line-2"></div>
		
		<!-- Page container -->
		<div id="page-container">
		
<!-- Projects -->
<section id="page-content" class="projects" data-page="projects">
	
	<h1 class="page-title">
		<span class="page-title-l1">Giant Steps_</span>
		<span class="page-title-l2">Projets</span>
	</h1>
	
	<!-- Projects list -->
	<nav id="projects-links">
		<ul>
					<li class="link link-1">
				<h2 class="subtitle">Documentaire</h2>
				<div class="projects-list-container">
					<ul class="projects-list">
											<li class="project-thumb">
							<a href="projet/2/sur-les-traces-du-dragon.html">
								<img src="/static/home_new/img/projects/sur_les_traces_du_dragon.jpg" alt="Sur les traces du dragon" class="thumb-img" />
								<span class="pattern"></span>
								<span class="line line-top"></span>
								<span class="line line-right"></span>
								<span class="line line-bottom"></span>
								<span class="line line-left"></span>
								<span class="name-wrapper"><h3 class="name">Sur les traces du dragon</h3></span>
							</a>
						</li>
										</ul>
				</div>
			</li>
					<li class="link link-2">
				<h2 class="subtitle">Fiction</h2>
				<div class="projects-list-container">
					<ul class="projects-list">
											<li class="project-thumb">
							<a href="projet/4/anthropologie-d-un-homme-moderne.html">
								<img src="/static/home_new/img/projects/anthropologie_d_un_homme_moderne.jpg" alt="Anthropologie d'un homme moderne" class="thumb-img" />
								<span class="pattern"></span>
								<span class="line line-top"></span>
								<span class="line line-right"></span>
								<span class="line line-bottom"></span>
								<span class="line line-left"></span>
								<span class="name-wrapper"><h3 class="name">Anthropologie d'un homme moderne</h3></span>
							</a>
						</li>
											
										</ul>
				</div>
			</li>
					<li class="link link-3">
				<h2 class="subtitle">Web</h2>
				<div class="projects-list-container">
					<ul class="projects-list">
											<li class="project-thumb">
							<a href="projet/9/big.html">
								<img src="/static/home_new/img/projects/big.jpg" alt="BIG" class="thumb-img" />
								<span class="pattern"></span>
								<span class="line line-top"></span>
								<span class="line line-right"></span>
								<span class="line line-bottom"></span>
								<span class="line line-left"></span>
								<span class="name-wrapper"><h3 class="name">BIG</h3></span>
							</a>
						</li>
										</ul>
				</div>
			</li>
					
					<li class="link link-5">
				<h2 class="subtitle">Jeux-vidéos</h2>
				<div class="projects-list-container">
					<ul class="projects-list">
											<li class="project-thumb">
							<a href="projet/11/arthur-et-les-minimoys.html">
								<img src="/static/home_new/img/projects/arthur_et_les_minimoys.jpg" alt="Arthur et les Minimoys" class="thumb-img" />
								<span class="pattern"></span>
								<span class="line line-top"></span>
								<span class="line line-right"></span>
								<span class="line line-bottom"></span>
								<span class="line line-left"></span>
								<span class="name-wrapper"><h3 class="name">Arthur et les Minimoys</h3></span>
							</a>
						</li>
										</ul>
				</div>
			</li>
				</ul>
	</nav>
	
</section>
	
		</div>  <!-- End #page-container -->
	</div> <!-- end #page-wrapper -->
	
	<!-- Footer -->
	<footer id="footer">
		<!--
		<div class="footer-social">
			<a href="#" target="_blank" class="footer-link facebook">
				<img src="http://www.giantstepsmedias.com//static/home_new/img/logos/facebook.png" alt="Facebook Giant Steps" />
			</a>
			<a href="#" target="_blank" class="footer-link twitter">
				<img src="http://www.giantstepsmedias.com//static/home_new/img/logos/twitter.png" alt="Twitter Giant Steps" />
			</a>
		</div>
		-->
		<a href="mentions-legales.html" class="footer-link legals-link">
			<span>Mentions légales</span>
		</a>
		<div class="footer-link footer-sound">
			<img src="/static/home_new/img/others/sound.png" alt="Sound"/>
		</div>
		<a href="http://www.akaru.fr/" target="_blank" class="footer-link footer-akaru">
			<img src="/static/home_new/img/logos/akaru.png" alt="Akaru - Digital Studio" />
		</a>
	</footer>
	
	<!-- No JS -->
	<noscript>
	<div id="no-js">
	<div class="center">
		<div class="alt-title">JavaScript est désactivé.</div>
		<p>Pour visionner ce site, veuillez activer JavaScript dans les préférences de votre navigateur. <br/>Une fois JavaScript activé veuillez recharger la page.</p>
	</div>
</div>
	</noscript>
	
</div> <!-- End #main-container -->



<!-- Scripts -->
<script>
	var LOCALHOST = '';
	var PROD  = '1';
	var WEB_ROOT = 'http://127.0.0.1:8000';
	var LG = 'fr';
</script>
<!--[if lt IE 9]><script src="http://www.giantstepsmedias.com//static/home_new/assets/js/scripts-oldie.min.js"></script><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><script src="/static/home_new/assets/js/scripts.min.js"></script><!--<![endif]-->


</body>


</html>