{% extends "magnovite/base.html" %}
{% load humanize %}

{% block "extra_meta" %}
<meta name="description" content="Christ University presents its annual techno-cultural fest Magnovite 2015, on 20th and 21st of February 2015." />
<meta name="keywords" content="Magnovite,Tech Fest" />
<meta name="author" content="CUFE" />

<meta property="og:title" content="Quest | Magnovite 2015" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://magnovite.net/static/img/logo_square_share.png" />
<meta property="og:url" content="https://magnovite.net/" />
<meta property="og:description" content="Christ University presents its annual techno-cultural fest Magnovite 2015, on 20th and 21st of February 2015." />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Quest | Magnovite 2015" />
<meta name="twitter:description" content="Christ University presents its annual techno-cultural fest Magnovite 2015, on 20th and 21st of February 2015." />
<meta name="twitter:image" content="https://magnovite.net/static/img/logo_square_share.png" />
{% endblock "extra_meta" %}

{% block "body_css_class" %}
transparent-banner body-quest browser-height
{% endblock "body_css_class" %}

{% block "content" %}
<div class="quest-page-outer page-container">
<div class="quest-page">
    <div class="card-pane left-pane">
        <h2>Progress</h2>

        <ul>
            {% for quest in quests %}
            <li class="{% if quest.level < cquest.level %}completed{% endif %}
                       {% if quest.level == cquest.level %}current{% endif %}">
                Level {{quest.level}}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="card-pane center-pane">
        {% if completed %}
            <h2>Congratulations!</h2>
            <div class="answer">
                <p>You have completed all the levels! You are {{position|ordinal}} in the leaderboards!</p>
            </div>
        {% else %}
            <h2>Level {{cquest.level}}</h2>
            <p class="header-text">{{cquest.header_text}}</p>

            <div class="images">
                <div class="image-box">
                    <img src="{{cquest.img1}}" alt="">
                    <p>{{cquest.img1_desc}}</p>
                </div>

                <div class="image-box">
                    <img src="{{cquest.img2}}" alt="">
                    <p>{{cquest.img2_desc}}</p>
                </div>
            </div>

            <div class="answer">
                <input type="text" placeholder="What's your guess?" class="js-answer">
                <button class="guess button gray js-button" type="submit">Guess</button>
            </div>
        {% endif %}

            <div class="fb">
                <p>Like us on Facebook for hints on the questions</p>
                <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2FMagnovite&amp;width&amp;colorscheme=dark&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=100" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:110px;" allowTransparency="true"></iframe>
            </div>
    </div>

    <div class="card-pane q-right-pane">
        <h2>Leaderboard</h2>

        <ul>
            {% for score in questscores %}
            <li class="{% if score.profile == user.profile %}me{% endif %}">
                <p class="number">{{forloop.counter}}</p>
                <div class="content">
                    <p>{{score.profile.name}}</p>
                    <span><em>Level {{score.max_level}}</em> {{score.max_time|date:"dS N P"}}</span>
                </div>
            </li>
            {% endfor %}

            {% if position > 5 %}
            <li class="seperator"><p>.........</p></li>
            <li class="me">
                <p class="number">{{position}}</p>
                <div class="content">
                    <p>{{cscore.profile.name}}</p>
                    <span><em>Level {{cscore.max_level}}</em> {{cscore.max_time|date:"dS-N P"}}</span>
                </div>
            </li>
            <li class="seperator"><p>.........</p></li>
            {% endif %}
        </ul>
    </div>
</div>
</div>
{% endblock "content" %}
