{% extends "magnovite/base.html" %}
{% load humanize %}

{% block "extra_meta" %}
<meta name="description" content="Christ University presents its annual techno-cultural fest Magnovite V6, on 2nd and 3rd and 4th of March 2017." />
<meta name="keywords" content="Magnovite,Tech Fest" />
<meta name="author" content="CUFE" />

<meta property="og:title" content="Campus Ambassador | Magnovite V6" />
<meta property="og:type" content="website" />
<meta property="og:image" content="/static/img/campus/cap-magnovite.jpg" />
<meta property="og:url" content="https://magnovite.net/campus/" />
<meta property="og:description" content="The Campus Ambassador program undertaken by Magnovite Fest at Christ University.." />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Campus Ambassador | Magnovite V6" />
<meta name="twitter:description" content="The Campus Ambassador program undertaken by Magnovite Fest.." />
<meta name="twitter:image" content="/static/img/campus/cap-magnovite.jpg" />
{% endblock "extra_meta" %}

{% block "body_css_class" %}
right-click {% if is_registered %}registered{% endif %}
{% endblock %}

 {% block "css_extra" %}
 <style type="text/css">
 	
 	.page .container
 	{
 		width: 1300px;
 	}
 	.page .right
 	{
 		width: 30%;
 	}
 	.register-button
 	{
 		width: 100%;
 	}
 	.page .left
 	{
 		width: 70%;
 	}

 	.register-button .check
 	{
 		left: 80px;
 	}
 	.page .right .heads .head
 	{
 		width: 100%;
 	}
 	.page .right .heads .left-head
 	{
 		width: 35%;
 	}
 	.page .right .heads .right-head
 	{
 		width: 80%;
 	}
 	.mobile .container {
    width: 100%;
    }
    .mobile .register-button .check
    {
    	top: 20px;
    }
 </style>

 {% endblock "css_extra" %}

{% block "post_js" %}
<script>
app.rightclick.init();
</script>
{% endblock "post_js" %}

{% block "content" %}
<div class="page-container">

<div class="event-cover">
	<img class="image lazy" data-original="https://firebasestorage.googleapis.com/v0/b/eventer-9ad23.appspot.com/o/workshops%2Frightclick.jpg?alt=media&token=4f367a44-f796-4117-b681-2d9c63819cd3" style="height:600px;" />

	<div class="content">
		<div class="inner-content">
			<h1>Right Click</h1>
		</div>
	</div>
</div>

<div class="page-outer">
<div class="page">
	<div class="container">

		<div class="pane right">
			<div class="register-container">
				
				<div class="register-button
				{% if is_registered %}registered{% endif %}">
					<div class="inner">


						<div class="text-container">
							<div class="check"></div>
							{% if is_registered %}
								<p class="text js-text">Unregister</p>
							{% else %}
								<p class="text js-text">Register</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			
			<div class="heads">
				
				<div class="head">
					<div class="left-head">
						<img src="/static/img/events/head_default.jpg" alt="">
					</div>
					<div class="right-head">
						<p class="name">Meghna Kurup </p>
						<p class="details">+91-8105477491</p>
						<p class="details">meghna.kurup@btech.christuniversity.in</p>
					</div>
				</div>
			</div>
		</div>
		

		<div class="pane left">
			<div class="markdown">
				 We all have ideas, but do we have the courage to take them forward, to take the first step into the uncertain world of entrepreneurship? Will the first step be the right one? 
				 <br><br>With this opportunity, it's time for you, if you have a great idea, to take that first step, that right step. That Right Click.
				<br><br>
				If you know that your idea can change society, and can scale to a great extent; if you feel that you deserve a shot, then all you have to do is submit the application form. You will stand a chance to win admission into Inspire! incubation centre where you will received the right support to convert your idea into a thriving business. A click to submit that application form can be A Click into Reality for your idea.
				<br><br>
				For more information and to register, <a href="https://www.1crowd.co/index.php/incubator/registrationForm" target="_blank" style="color:#009973">Click Here</a>.
				<br><br>
				For 2nd and 3rd year students,  <a href="https://docs.google.com/forms/d/e/1FAIpQLSeeOZW6-2n0lq37D5vU534dfuDwyU8KSODZ9cEJsZEGY0hXEQ/viewform?c=0&w=1" target="_blank" style="color:#009973">Click Here</a>.
			</div>
		</div>
	</div>
</div>
</div>

</div>
{% endblock %}
