{% extends "magnovite/base.html" %}
{% load humanize %}

{% block "extra_meta" %}
<meta name="description" content="Christ University presents its annual techno-cultural fest Magnovite 2015, on 20th and 21st of February 2015." />
<meta name="keywords" content="Magnovite,Tech Fest" />
<meta name="author" content="CUFE" />

<meta property="og:title" content="Workshop | Magnovite 2015" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://magnovite.net/static/img/logo_square_share.png" />
<meta property="og:url" content="https://magnovite.net/" />
<meta property="og:description" content="Christ University presents its annual techno-cultural fest Magnovite 2015, on 20th and 21st of February 2015." />

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Workshop | Magnovite 2015" />
<meta name="twitter:description" content="Christ University presents its annual techno-cultural fest Magnovite 2015, on 20th and 21st of February 2015." />
<meta name="twitter:image" content="https://magnovite.net/static/img/logo_square_share.png" />
{% endblock "extra_meta" %}

{% block "body_css_class" %}
workshop-page transparent-banner
{% endblock "body_css_class" %}

{% block "css_extra" %}
    <script type="text/javascript">
        $(document).ready(function() {
            /*
            * Plugin intialization
            */
            $('#pagepiling').pagepiling({
                direction: 'horizontal',
                menu: '#menu1',
                anchors: [{% for workshop in workshops %}'{{workshop.title}}',{% endfor %}],
                sectionsColor: [{% for workshop in workshops %}'white',{% endfor %}],
                navigation: {
                    'position': 'right',
                    'tooltips': [{% for workshop in workshops %}'{{workshop.title}}',{% endfor %}]
                },
                afterRender: function(){
                    $('#pp-nav').addClass('custom');
                },
                afterLoad: function(anchorLink, index){
                    if(index>1){
                        $('#pp-nav').removeClass('custom');
                    }else{
                        $('#pp-nav').addClass('custom');
                    }
                }
            });
        });
    </script>

     <style>
    #section1 img{
        margin: 20px 0;
        opacity: 0.7;
    }
    /* colors
     * --------------------------------------- */
    #colors2,
    #colors3{
        position: absolute;
        height: 163px;
        width: 362px;
        z-index: 1;
        background-repeat: no-repeat;
        left: 0;
        margin: 0 auto;
        right: 0;
    }
    #colors2{
        background-image: url(imgs/colors2.gif);
        top:0;
    }
    #colors3{
        background-image: url(imgs/colors3.gif);
        bottom:0;
    }


    /* Overwriting fullPage.js tooltip color
    * --------------------------------------- */
    #pp-nav.custom .pp-tooltip{
        color: #AAA;
    }

</style>

{% endblock "css_extra" %}

{% block "content" %}
<ul id="menu1">
        <li data-menuanchor="page1" class="active"><a href="#page1">Page 1</a></li>
        <li data-menuanchor="page2"><a href="#page2">Page 2</a></li>
    </ul>


    <div id="pagepiling">
        <div class="section" id="section1">
            <img src="imgs/pagePiling-plugin.gif" alt="pagePiling" style="height:10px;" />
            <br />

            <h1>Horizontal Scroll</h1>
            <p>pagePiling does it easy for you!</p>

        </div>
        <div class="section" id="section2" >
            <div class="intro">
                <h1>Simple to use</h1>
                <p>Just use the option direction: 'horizontal' to have it working!</p>
            </div>
        </div>
        <div class="section" id="section3">
            <div class="intro">
                <h1>Isn't it great?</h1>
                <p>Just as you expected!</p>
                <div id="colors2"></div>
                <div id="colors3"></div>
            </div>
        </div>
    </div>
    <div class="nav container">
        {% for workshop in workshops %}
        <a href="#{{workshop.id}}" class="nav-item">
            <img src="{{workshop.img_small}}" alt="{{workshop.title}}">
        </a>
        {% endfor %}
    </div>

    {% for workshop in workshops %}
    <div class="workshop" id="{{workshop.id}}">
        <div class="container">
            <div class="left">
                <img src="{{workshop.img_big}}" alt="{{workshop.title}}">
            </div>
            <div class="right">
                <h2 class="workshop-title">{{workshop.title}}</h2>
                <div class="info">
                    <p>{{workshop.desc_1}}</p>
                    <p>{{workshop.desc_2}}</p>
                </div>
                <div class="incharge">
                    <div class="student part">
                        <h3>Student Incharge</h3>
                        <div class="person">
                            <p class="name">{{workshop.std_1_name}}</p>
                            <a href="tel:{{workshop.std_1_mobile}}" class="tele">{{workshop.std_1_mobile}}</a>
                        </div>
                        <div class="person">
                            <p class="name">{{workshop.std_2_name}}</p>
                            <a href="tel:{{workshop.std_2_mobile}}" class="tele">{{workshop.std_2_mobile}}</a>
                        </div>
                    </div>
                    <div class="faculty part">
                        <h3>Faculty Incharge</h3>
                        <div class="person">
                            <p class="name">{{workshop.faculty_name}}</p>
                            <a href="tel:{{workshop.faculty_mobile}}" class="tele">{{workshop.faculty_mobile}}</a>
                        </div>
                    </div>
                </div>
                <div class="register">
                    <div class="price part">
                        <p>Fee ₹ {{workshop.price|intcomma}}</p>
                    </div>

                    {% if workshop in registered %}
                    <div class="register-btn-box part registered">
                        <button class="button gray registered">Registered</button>
                    </div>
                    {% elif workshop.registrations_open %}
                    <div class="register-btn-box part">
                        <button data-type="workshop" data-params="id={{workshop.id}}" class="button gray js-pay">Register Now</button>
                    </div>
                    {% else %}
                    <p>Registrations are closed!</p>
                    {% endif %}

                    <div class="payu part">
                        <img src="/static/img/payu.jpg" alt="PayuMoney">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock "content" %}
