<!-- Agency -->
 {% csrf_token %}
<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252"></head><body><section id="page-content" class="agency" data-page="agency">
	
	<!-- Main content -->
	<!-- Main content -->
	<article class="main-content">
		<div class="line-1 line-title"></div>
		<div class="close-part">
			<div class="close-part-arrow"></div>
		</div>
		<h1 class="page-title">
			<span class="page-title-l1">About</span>
			<span class="page-title-l2">Magnovite 6.0</span>
		</h1>
		<div class="text">
			<p>
				 Magnovite is the annual techno-cultural fest organized by the Faculty of Engineering, <a href="http://www.christuniversity.in"> Christ University</a>, Bangalore, to be held on 2nd, 3rd and 4th of March 2017.
			</p>
			<p>
				Magnovite 6.0 aims at encouraging scientific innovation and knowledge of technology among the masses.
			</p>
			<p>
				"KREO,Beyond Infinity" </span></b> the theme of Magnovite 6.0 is a translation of english word 'CREATION' in Esperanto language, we are emphasizing on the 'Technical World', evolution of technology in all disciplines.
			</p>
		</div>
	</article>
	
	<!-- Part links -->
	<nav id="agency-links">
		<h3 class="page-subtitle">About</h3>
		<ul>
			<li class="link">
				<h2 class="link-title">Contact Us</h2>
			</li>
			<li class="link">
				<h2 class="link-title">Why Sponsor Us</h2>
			</li>
			<li class="link">
				<h2 class="link-title">Magnovite Team</h2>
			</li>
			<!-- <li class="link">
				<h2 class="link-title">Orchestration</h2>
			</li> -->
		</ul>
	</nav>
	
	<!-- Parts -->
	<div class="agency-subpage-container">
		<article class="agency-subpage">
			<h3 class="page-title">
				<span class="page-title-l1">About</span>
				<span class="page-title-l2">Contact Us</span>
			</h3>
			<div class="text">
				<p>
                                                        Faculty Of Engineering<br>
                                                        <a href="http://www.christuniversity.in">Christ University</a><br>
                                                        Kanminike,Kumbalgodu
                                                        Bengaluru, Karnataka 560074
                </p>
                <p>
                    Name: Vinay Jha Pillai
                                                    <br>
                                                    Designation: Faculty Incharge
                                                    <br>
                                                        Phone: +91-9164076123<br><br>
                                                        Name: Anil Melwin Rego
                                                         <br>
                                                    Designation: Faculty Incharge
                                                        <br>
                                                        Phone: +91-8904798571<br><br>
                                                        Name: Adishesha Sairam KB
                                                         <br>
                                                    Designation: Student Representative
                                                        <br>
                                                        Phone: +91-9972878455
                </p>
			</div>
		</article>
		<article class="agency-subpage">
			<h3 class="page-title">
				<span class="page-title-l1">About</span>
				<span class="page-title-l2">Why Sponsor Us</span>
			</h3>
			<div class="text">
				<p>
					Magnovite is the annual techno-cultural fest organized by the Faculty of Engineering, <a href="http://www.christuniversity.in"> Christ University</a>
				</p>
				<p>
					 Excellent and Innovative publicity through Social Media, Posters, Flexes, Banners, Media Partner etc.
				</p>
				<p>
					 Diversity in Audiences, public outreach of over 3k+ students over 3 days. Brand outreach in 90+ Engineering/Technology and Under-Graduate Institutions in and around Bangalore.
				</p>
				<p>
					Information/Promotion stalls of Sponsors placed at strategic locations throughout the campus
				</p>
				<p>
					 Mention in Faculty of Engineering,<a href="http://www.christuniversity.in"> Christ University</a> NewsLetter 'Spectrum'
				</p>
				<p>
					Logos and Links to the Sponsors website on the Official Fest website
				</p>
				<p>
					 Our Sponsorship team can tailor our packages to meet prospective Sponsor's unique needs.
				</p>
				<p>
					 In addition, we offer our Sponsors different packages each with its own benefits.
				</p>
				<p>
					We hope to form a mutual and beneficial Sponsorship with all our Sponsors.
                                                        <br>
                                                        <br><br>
                                                        For more details please contact <br><br><span class="green" style="font-weight:bold;">Arun RJ (Designation: Faculty Incharge, Phone: +91-990978676, Email: <a href="mailto:arun.r@christuniversity.in">arun.r@christuniversity.in</a>),<br><br>
                                                        Adishesha Sairam KB (Designation: Student Representative, Phone: +91-9972878455, Email: <a href="mailto:adishesha.sairam@btech.christuniversity.in"> adishesha.sairam@btech.christuniversity.in</a>)</span>
				</p>
			</div>
		</article>
		<article class="agency-subpage">
			<h3 class="page-title">
				<span class="page-title-l1">About</span>
				<span class="page-title-l2">Magnovite Team</span>
			</h3>
			<div class="text">
				<p>
					coming Soon...
				</p>
			</div>
		</article>

	</div>
	
</section>
</body></html>