/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #00FF00;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #00FF00, 0 0 5px #00FF00;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #00FF00;
  border-left-color: #00FF00;
  border-radius: 50%;
  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pure-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}
.pure-table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}
.pure-table td,
.pure-table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}
.pure-table td:first-child,
.pure-table th:first-child {
  border-left-width: 0;
}
.pure-table thead {
  background: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}
.pure-table td {
  background-color: transparent;
}
.pure-table-odd td {
  background-color: #f2f2f2;
}
.pure-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}
.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}
.pure-table-bordered tbody > tr:last-child td,
.pure-table-horizontal tbody > tr:last-child td {
  border-bottom-width: 0;
}
.pure-table-horizontal td,
.pure-table-horizontal th {
  border-width: 0 0 1px;
  border-bottom: 1px solid #cbcbcb;
}
.pure-table-horizontal tbody > tr:last-child td {
  border-bottom-width: 0;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  transition: all 125ms ease-out;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
.container {
  width: 600px;
  margin: 50px auto;
}
.container-wide {
  width: 1050px;
  margin: 50px auto;
}
.container-wide-wide {
  width: 1300px;
  margin: 50px auto;
}
table {
  width: 100%;
}
body {
  color: #333;
}
h1 {
  font-size: 36px;
  margin-bottom: 22px;
}
h3 {
  font-size: 28px;
  margin: 50px 0 10px 0;
  color: #999;
}
strong {
  font-weight: bold;
}
.red {
  color: red;
  font-weight: bold;
}
.internal-registration .inputfields {
  outline: 0;
  padding: 10px 15px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #bbb;
  font-size: 20px;
  background: #f9f9f9;
}
.internal-registration .inputfields:focus {
  border: 1px solid #1f78ff;
  background: white;
}
.internal-registration h2 {
  font-size: 28px;
  color: #bbb;
  margin-top: 50px;
}
.internal-registration h4 {
  margin-top: 15px;
  font-size: 22px;
  color: #aaa;
}
.internal-registration label {
  color: #ccc;
}
.internal-registration input[type=checkbox],
.internal-registration input[type=radio] {
  width: 20px;
  height: 20px;
  margin: 0px 10px 3px 0px;
  display: inline-block;
  vertical-align: middle;
}
.internal-registration input[type=checkbox] ~ label,
.internal-registration input[type=radio] ~ label {
  font-size: 20px;
  padding-bottom: 5px;
  display: inline-block;
  vertical-align: middle;
  color: #333;
}
.internal-registration .event-name {
  font-size: 22px;
}
.internal-registration .checkbox-box {
  margin: 5px 0;
}
.internal-registration .input-box {
  margin: 20px 0;
}
.internal-registration .errorlist {
  color: red;
  font-size: 20px;
  margin-bottom: 10px;
}
.internal-registration .radiobuttons label {
  margin-right: 40px;
}
.internal-registration .teamid-box {
  margin: 5px 0 30px 0;
  padding-left: 35px;
  display: none;
}
.internal-registration .show-teamid .teamid-box {
  display: block;
}
.internal-registration input[type=checkbox]:checked ~ .teamid-box {
  display: block;
}
.internal-registration .event-item {
  padding: 5px;
}
.internal-registration .footer {
  margin-top: 30px;
}
.internal-registration .footer .amount {
  background: #f5f5f5;
  padding: 10px;
}
.internal-registration .footer .amount h3 {
  margin: 10px 0;
}
.internal-registration .footer .amount ul li {
  font-size: 19px;
  padding: 8px 10px;
}
.internal-registration .footer .amount ul li p.price {
  display: inline-block;
  font-weight: bold;
  width: 60px;
}
.internal-registration .footer .amount ul li.total {
  font-size: 21px;
  padding: 15px 10px;
  background: #ddd;
}
.internal-registration .footer .submit-box {
  width: 100%;
  text-align: center;
}
.internal-registration .footer .button {
  margin: 20px auto;
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  background: #1f78ff;
  border: 2px solid #005deb;
  color: white;
  font-size: 22px;
  cursor: pointer;
  text-transform: uppercase;
}
.internal-registration .footer .button:hover {
  background: #005deb;
  color: white;
}
.internal-registration .footer .button.gray {
  background: #aaa;
  border: 2px solid #999;
}
.internal-registration .footer .button.gray:hover {
  background: #999;
  border: 2px solid #888;
}
.internal-registration .footer .view-btn {
  margin-top: 0;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  display: none;
}
.internal-registration .footer .view-btn.visible {
  display: block;
}
.internal-registration .footer .user-summary {
  display: none;
}
.internal-registration .footer .user-summary.visible {
  display: block;
}
.internal-registration .footer .user-summary h3 {
  margin: 40px 0 20px 0;
}
.internal-registration .footer .user-summary li {
  padding: 5px;
  margin: 5px 0;
  overflow: hidden;
  clear: both;
  vertical-align: middle;
}
.internal-registration .footer .user-summary li p {
  display: inline-block;
  font-size: 20px;
  margin-top: 7px;
}
.internal-registration .footer .user-summary li .title {
  color: #444;
}
.internal-registration .footer .user-summary li .teamid {
  margin-left: 20px;
  padding: 10px 10px;
  background: #ccc;
  font-family: 'monospace';
}
.internal-registration .footer .user-summary li .btn-add-team {
  width: auto;
  font-size: 16px;
  text-transform: none;
  padding: 5px 10px;
  margin: 0;
  margin-left: 20px;
}
.mobile.internal-registration .container {
  width: 100%;
  padding: 0 15px;
}
.mobile.internal-registration .radiobuttons label {
  width: 70%;
}
.mobile.internal-registration .footer .user-summary li .title {
  display: block;
}
.mobile.internal-registration .footer .user-summary li .teamid {
  margin-left: 0;
}
.recipt-page h1 {
  font-size: 28px;
}
.recipt-page h3 {
  font-size: 24px;
  margin-top: 20px;
}
.recipt-page .row {
  font-size: 18px;
  padding: 5px 0;
}
.recipt-page .row .label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  color: #666;
}
.recipt-page .row .value {
  display: inline-block;
  vertical-align: middle;
  color: #000;
}
.recipt-page .list {
  font-size: 20px;
  color: #000;
  padding: 5px 0;
}
.recipt-page .list li {
  padding: 5px 0;
}
.recipt-page .footer {
  margin-top: 40px;
  color: #999;
}
.recipt-page .footer a {
  color: #666;
  text-decoration: none;
  padding: 3px 0;
  border-bottom: 1px solid #bbb;
}
.recipt-page .footer a:hover {
  border-bottom: 1px solid #999;
  color: #000;
}
.mobile.recipt-page .container {
  width: 100%;
  padding: 20px 10px;
}
.mobile.recipt-page .row {
  padding: 10px 0;
}
.mobile.recipt-page .row .label,
.mobile.recipt-page .row .value {
  display: block;
}
.mobile.recipt-page .row .label {
  margin-bottom: 5px;
}
.page-tableview .timestamp {
  margin-bottom: 20px;
  color: #666;
}
.page-tableview thead th {
  font-weight: bold;
}
.page-tableview .checked-in {
  background: #c5c5c5;
}
